{% extends "base.html" %}
{% block body %}
{% if user.riallyuser %}
    <h1> Deelnemers ({{ user.riallyuser.team.team_name }}): </h1>
    <table class="table">
        <thead>
            <tr>
                <th width="80%"> Naam </th>
                {% if user.riallyuser.is_team_captain %} <th> Verwijderen </th> {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for member in user.riallyuser.team.riallyuser_set.all %}
            <tr><td>{{ member.user }} {% if member.is_team_captain %} (Teamcaptain) {% endif %}</td>{% if user.riallyuser.is_team_captain %} <td><a class="btn btn-danger" href="{% url 'teams.views.delete' member.team.pk member.pk %}">Verwijderen</button>{% endif %}</tr>
        {% endfor %}
        <tbody>
    </table>
    {% if user.riallyuser.is_team_captain %}
        <a href="{% url 'team_add_member' %}" class="btn btn-success">Toevoegen</a>
    {% endif %}
{% else %}
    <div class="alert alert-danger">Jij bent geen Rially user, ga maar naar de admin met je superkrachten</div>
{% endif %}
{% endblock %}
