{% extends "base.html" %}
{% block body %}
<table class="table table-striped">
    <thead>    
        <tr>
            <th width="25%"> Teamnaam </th>
            <th width="75%"> Teamdeelnemers </th>
            <th width="auto"> Opdrachten </th>
        </tr>
    </thead>

    <tbody>
    {% for team in team_list %}
        <tr>
            <td> {{ team.team_name }} </td>
            <td> 
                 {% for member in team.riallyuser_set.all %}
                    {{ member.user }}
                 {% endfor %}
            </td>
            <td><a href="{% url 'submission_list_by_team' team.pk %}" style="background-color: #f5028e; color: white;" class="btn btn-default"> Opdrachten </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
