<div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="min-width: 200px; min-height: 150px;"></div>
  <div>
    <span class="btn btn-default btn-file"><span class="fileinput-new">Selecteer een foto</span><span class="fileinput-exists">Wijzig foto</span><input type="file" name="{{ name }}" id="{{ id }}"/></span>
    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Verwijder deze foto</a>
  </div>
</div>
